<!DOCTYPE html>

<html>
  <head>
    <title> {{{title }}} </title>
    <link (rel='stylesheet', href='/public/stylesheets/style.css') />
  </head>
  <body>
  <nav>
  <ul>
  <li><a href="/"> Home </a> </li>
  <li><a href="/Usuarios">  Usuarios </a></li>
  <li><a href="/Biblioteca"> Biblioteca  </a></li>
  <li><a href="/Servicios"> Servicios  </a></li>
  </ul>
  </nav>
 {{{body}}}
  </body>
</html>
  
