<!DOCTYPE html>

<html>
  <head>
    {{{title }}} 
    <link (rel='stylesheet', href='../public/stylesheets/style.css') />
  </head>
  <body>
  <nav>
  <ul>
  <li><a href="/"> Home </a> </li>
 
  </ul>
  </nav>
  <h1>{{ user.name }}</h1>
    <p>{{ user.email }}</p>
 {{{body}}}
  </body>
</html>
  
