.body-container {
    display: flex;
  }
  
  .body-left {
    flex: 1;
    height: 100vh;
    background-color: #d40a0a; /* Color de fondo de la mitad izquierda */
  }
  
  .body-right {
    flex: 1;
    height: 100vh;
    background-color: #1e73be; /* Color de fondo de la mitad derecha */
  }