.HeaderStyle{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background:#ffffff ;
    width: 100%;
    
}
.HeaderStyle:hover {
  background-color: rgba(109, 91, 182, 0.914);

    transition:1s;
   cursor: pointer;
  }

  
.logohome{
  max-width: 50%;
}