<!DOCTYPE html>

<html>
  <head>
    {{{title }}} 
    
    <link (rel='stylesheet', href='../public/stylesheets/style.css') />
  </head>
  <body>
 <header>
  <div className='HeaderStyle'>
      <a href="">
        <img src={logo} alt="Logo de Magisterius" />
      </a>
       </div>
       </header>
  <h1>{{ user.name }}</h1>
    <p>{{ user.email }}</p>
 {{{body}}}
  </body>
</html>